<!--Setup the main.handlebars file so it's able to be used by Handlebars.-->
{{!-- <li>
	{{name}}
	<button class="change-status" data-id="{{id}}" data-newstatus={{devour}}"">Devour I --}}
	{{!-- 	{{#if devour}}Devour it!{{/if}} --}}
	{{!-- </button>
</li> --}}
<h1>Eat Da Burger</h1>

<h2>Burgers to be Eaten</h2>
<ul>
	{{#each burgers}}
	{{#unless devoured}}
		<div>
		<span>{{this.id}}
			{{this.burger_name}}
		</span>
			<button id='devour'>Devour it</button>
		</div>	
	{{/unless}}
	{{/each}}
</ul>

<h2>Burgers Devoured</h2>
<ul>
	{{#each burgers}}
		{{#if devoured}}
			<div>
			<span>{{this.id}}
				{{this.burger_name}}
			</span>
			</div>
		{{/if}}
	{{/each}}
</ul>

<h2>Add a Burger</h2>
<form method='POST' action='/api/burgers' class='form-group'>
		<div class='form-group'>
			<label for='bname'>Enter Burger Name:</label>
			<input type='text' id='bname' name='name'>
		</div>
		<button type='submit'>Add a burger to eat, press here to submit</burger> 
</form>


